<div>
  <p-menubar [model]="items">
    <ng-template pTemplate="end">
      <p-avatar image="https://cdn.britannica.com/97/1597-004-05816F4E/Flag-India.jpg" shape="circle" />
    </ng-template>
  </p-menubar>
  <img src="https://res.cloudinary.com/nithinmanda/image/upload/v1723216907/Untitled_design_1_xc5dll.jpg"
    style="width: 100%; ">
  <div style="margin-left:6rem; margin-right: 6rem;">
    <p-breadcrumb [model]="breadcrumbItems" styleClass="custom-breadcrumb" />
    <hr />
    <h1 style="color: grey;">Independence Day Celebration</h1>

    <p-meterGroup [value]="meterValue">

    </p-meterGroup>
    <div>
      <img width="100%" src='https://res.cloudinary.com/nithinmanda/image/upload/v1723558392/9239916_om6boq.jpg'>
    </div>

    <p>The Independence Day of India, which is celebrated religiously throughout the Country on the 15th of August every
      year, holds tremendous ground in the list of national days, since it reminds every Indian about the dawn of a new
      beginning, the beginning of an era of deliverance from the clutches of British colonialism of more than 200 years.
      It was on 15th August 1947 that India was declared independent from British colonialism, and the reins of control
      were handed over to the leaders of the Country. India's gaining of independence was a tryst with destiny, as the
      struggle for freedom was a long and tiresome one, witnessing the sacrifices of many freedom fighters, who laid
      down their lives on the line.</p>
    <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 20px;">
      <p-card header="Droupadi Murmu" subheader="President of India" [style]="{ width: '100%'}" styleClass="cardBg">
        <div style="display: flex; gap: 20px;">
          <img height="200px"
            src="https://res.cloudinary.com/nithinmanda/image/upload/v1723295503/draupadhi_s7y9vs.jpg">
          <div>
            <p style="font-family: auto; color: black">

              President's address to the nation on the eve of India's 78th Independence Day, 2024...
            </p>
            <p-button label="View More" icon="pi pi-angle-right" iconPos="right" [outlined]="true"
              styleClass="button" />
          </div>
        </div>
      </p-card>
      <p-card header="Narendra Modi" subheader="Prime Minister of India" [style]="{ width: '100%'}"
        styleClass="cardBgPM">
        <div style="display: flex; gap: 20px;">
          <img height="200px" src="https://res.cloudinary.com/nithinmanda/image/upload/v1723296902/modi_zortod.avif">
          <div>

            <p style="font-family: auto; color: black;">
              Prime Minister's address to the Nation from the ramparts of the Red Fort on the 78th Independence Day,
              2024...
            </p>
            <p-button label="View More" icon="pi pi-angle-right" iconPos="right" [outlined]="true"
              styleClass="button" />

          </div>

        </div>
      </p-card>
      <p-card header="Wall Papers" subheader="Brave Hearts of India" [style]="{ width: '100%'}" styleClass="cardBgwal">
        <div style="display: flex; gap: 20px;">
          <img height="200px" width="300px"
            src="https://res.cloudinary.com/nithinmanda/image/upload/v1723298045/brave_herats_docmur.avif">
          <div>
            <p style="font-family: auto; color: black">

              Choose from a collection of wallpapers to display on your computer or download the National Anthem...


            </p>
            <p-button label="View More" icon="pi pi-angle-right" iconPos="right" [outlined]="true"
              styleClass="button" />
          </div>
        </div>
      </p-card>
      <p-card header="Awards and Winners" subheader="2023-2024" [style]="{ width: '100%'}" styleClass="cardBgAwards">
        <div style="display: flex; gap: 20px;">
          <img height="200px" width="300px"
            src="https://res.cloudinary.com/nithinmanda/image/upload/v1723298538/dhoni_fn3etu.avif">
          <div>
            <p style="font-family: auto; color: black">
              Soldiers & Policemen with outstanding deeds of bravery are conferred with Gallantry Awards & Police Medals
              on Independence Day...
            </p>
            <p-button label="View More" icon="pi pi-angle-right" iconPos="right" [outlined]="true"
              styleClass="button" />
          </div>
        </div>
      </p-card>
    </div>
    <div>
      <img width="100%" height="300px"
        src='https://res.cloudinary.com/nithinmanda/image/upload/v1723566250/fedsf-ezgif.com-crop_yeunfe.avif'>
    </div>

  </div>
  <br />
  <br />
  <div style="display: flex; align-items: center; margin-left: 23rem;">
    <p-button styleClass="text-size" label="Photo Gallery" [text]="true" severity="danger" /><span>|</span>
    <p-button styleClass="text-size" label="History of Indian Tricolor" [text]="true" severity="danger" /><span>|</span>
    <p-button styleClass="text-size" label="Poems on India" [text]="true" severity="danger" /><span>|</span>
    <p-button styleClass="text-size" label="Live Webcast" [text]="true" severity="danger" /><span>|</span>
  </div>

  <br />
  <div class="image-gallery">
    <div class="image-gallery-2">
      <h1>
        Image Gallery
      </h1>
      <p style="font-size: large;">
        A picture speaks a thousand words and on a day when India breaks out in multiple radiant colours, the pictures
        are
        exceptional. Take a look at the images of the Independence Day Celebrations:
      </p>
      <div class="marquee-container">
        <div class="marquee-content" #marqueeContent>
          <ng-container *ngFor="let image of marqueeImages">
            <img [src]="image.src" [alt]="image.alt" width="180" height="100">
          </ng-container>
          <ng-container *ngFor="let image of marqueeImages">
            <img [src]="image.src" [alt]="image.alt" width="180" height="100">
          </ng-container>
        </div>
      </div>
    </div>

  </div>

  <div class="footer">
    <div style="display: flex;">
      <div style="margin-left: 5rem;">
        <h1 style="color: black; font-family: 'fangsong';">About India</h1>
        <p-meterGroup [value]="meterValue2">
        </p-meterGroup>
        <p
          style="width: 60%;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: large;">
          India is one of the oldest civilizations in the world with a kaleidoscopic variety and rich cultural heritage.
          It
          has achieved all-round socio-economic progress since Independence. As the 7th largest country in the world,
          India
          stands apart from the rest of Asia, marked off as it is by mountains and the sea, which give the country a
          distinct geographical entity. Bounded by the Great Himalayas in the north, it stretches southwards and at the
          Tropic of Cancer, tapers off into the Indian Ocean between the Bay of Bengal on the east and the Arabian Sea
          on
          the west.
        </p>
      </div>

    </div>
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <div style="display: flex; align-items: center; margin-top: 250px;margin-left: 4rem;">
        <p-button styleClass="text-size" label="Home" [text]="true" severity="secondary" /><span>|</span>
        <p-button styleClass="text-size" label="Help" [text]="true" severity="secondary" /><span>|</span>
        <p-button styleClass="text-size" label="Add a favorite" [text]="true" severity="secondary" /><span>|</span>
        <p-button styleClass="text-size" label="Terms of Use" [text]="true" severity="secondary" /><span>|</span>
        <p-button styleClass="text-size" label="Accessibility Statement" [text]="true" severity="secondary" />
      </div>

    </div>

  </div>
</div>